@import "./base/lists";
@import "./base/extend";

*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: nth($colores,1);
    }

@import "./base/bootstrap";
@import "./componentes/header";
@import "./componentes/footer";
@import "./componentes/main";
@import "./componentes/mobile"