header nav div ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px!important;
    margin: 20px;
}
.nav-link {color: #cfcfe1;}
.navbar-brand {color: #cfcfe1;}
.navbar-custom a:hover {color: #7f7fb1;}
#press {color: #7f7fb1!important;}